
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.app_header {
    font-family:'Alfa Slab One';
    margin-left: 20px;
    display: inline;
}

.cart_header{
    display:grid;
    /* grid-template-columns: 3fr; */
    justify-content: right;
    margin-right: 40px;
}

.product_space {
    max-width:1000px;
    margin: 0 auto;
}

.counter_div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-items: center; */
    padding-bottom: 30px;
    /* align-content: space-evenly; */
}

button {
    padding: 10px;
    height: 40px;
    width: 60px;
}

.category_button {
    text-align:center;
    width:20%;
    height:100%;
}
.category_div {
    height: 100px;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: blanchedalmond;
    padding-bottom: 5px;
    margin-bottom: 30px;
}