
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.centered_text{
    text-align:center;
}

.app_header {
    font-family:'Alfa Slab One';
    height: 20px;
    margin-left: 30px;
}

.cart_header{
    display:grid;
    justify-content: right;
    margin-right: 40px;
}

.product_space {
    max-width:1000px;
    margin: 0 auto;
}

.counter_div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 30px;
    /* align-content: space-evenly; */
}

.nav-tabs{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
     /* align-content: space-evenly; */
    /* grid-column-gap: 2px; */
    justify-items: right;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    background-color: blanchedalmond; 
} 

button {
    padding: 10px;
    height: 40px;
    width: 60px;
}

.category_button {
    text-align:center;
    width:20%;
    height:100%;
}

.subpage_header{
    display:flex;
    justify-content: center;
    width:100%;
    height:100px;
    background-color: blanchedalmond;
}

.category_div {
    height: 100px;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: blanchedalmond;
    padding-bottom: 5px;
    margin-bottom: 30px;
}